{% extends "base.html" %}
{% block title %}Dashboard |{% endblock %}
{% block content %}

    <div class=centerContent>
        
 
    <div class="container1" id="container1">
        <div class="form-container sign-up-container">
        </div>
        <div class="form-container sign-in-container">
            <form method="POST" class="formRegister" action="/ventureinsight/login/">
                {% csrf_token %}
                <h1 class="headerSpace">Welcome back</h1>
                <input class="loginInput" type="email" placeholder="Email" name="email" />
                <input class="loginInput" type="password" placeholder="Password" name="password" />
                <a href="#">Forgot your password?</a>
                <button class="signIn">Sign In</button>
                <h6 class="error">{{ error }}</h6>
            </form>
            

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img class="logoblue" src="/static/images/logotransparent.png" alt="logo">
                    <h1>Hello, Friend!</h1>
                    <p class="space">Start your journey with us</p>
                    <a href="/ventureinsight/signup"><button class="ghost">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>


        
    </div>
{% endblock %}