{% extends "base.html" %}
{% block title %}Dashboard |{% endblock %}
{% block content %}
    <div>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form class="overlay1" action="#">
                    <h1 class="headerSpace">Start your journey</h1>
                    <input class="loginInput" type="email" placeholder="Email" />
                    <input class="loginInput" type="password" placeholder="Password" />
                    <button class="signIn">Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay2">
                    <div class="overlay-panel overlay-right">
                        <img class="logoblue" src="/static/images/logowhite.PNG" alt="logo">
                        <h1 class="headerSpace">Hello, Friend!</h1>
                        <p class="headerSpace">Already have an account?</p>
                        <button class="signIn" id="signUp">Login</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}