{% extends "base.html" %}
{% block title %}Dashboard |{% endblock %}
{% block content %}
    <div class=centerContent>
        <div class="container1" id="container1">
            <div class="form-container sign-in-container">
                <form method="POST" class="overlay1 formRegister" action="/ventureinsight/signup/">
                    {% csrf_token %}
                    <h1 class="headerSpace">Start your journey</h1>
                    <input class="loginInput" type="email" placeholder="Email" name="email" />
                    <input class="loginInput" type="password" placeholder="Password" name="password" />
                    <button class="signIn" name="Create User">Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay2">
                    <div class="overlay-panel overlay-right">
                        <img class="logoblue" src="/static/images/logowhite.PNG" alt="logo">
                        <h1 class="headerSpace">Hello, Friend!</h1>
                        <p class="headerSpace">Already have an account?</p>
                        <button class="signIn" id="signUp">Login</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}